{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "AzureSignalRConnectionString": "YOUR_CONNECTION_STRING",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
  },
  "Host": {
    "LocalHttpPort": 7072,
    "CORS": "*",
    "CORSCredentials": false
  }
}
